product-list
  ul.products
    each product, index in products
      product-item.card(data-id=`${(Math.max(0, page - 1) * pageCount) + index}`)
        li.card-block
          h3.card-title.product-name= product.name
          p.card-text= product.description

  if page > 0
    //- a(href=`/?page=${page - 1}` rel="prev") Previous
    a(href=link('/', { page: page - 1 }) rel="prev") Previous

  if page > 0 && page < (pageCount - 1)
    = " "
    | |
    = " "

  if page < (pageCount - 1)
    a(href=link('/', { page: page + 1 }) rel="next") Next
