mixin product-item(product, page, pageCount, index)
  product-item.card(data-id=`${(Math.max(0, page - 1) * pageCount) + index}`)
    li.card-block
      h3.card-title.product-name= product.name
      p.card-text= product.description
      p.price(data-price=product.price)
        = product.price
        = " "
        | EUR
      img.photo(src=link(`/images/${Math.ceil(Math.random() * 100 % 22)}.jpg`))
